body {
    font-family: 'Quicksand', sans-serif;
}
h1 {
    font-family: 'Spartan', sans-serif;
    text-align: center;
    color: white; 
    
}
.jumbotron {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgb(19, 37, 63) 0%, rgba(9,82,121,1) 51%, rgba(0,204,255,0) 91%);
}

.btn {
    color: rgba(9,82,121,1);
}
.card-body {
    font-size: 20px;
}
