body {
    font-family: 'Quicksand', sans-serif;
}
h1 {
    font-family: 'Spartan', sans-serif;
    text-align: center;
    color: white; 
    
}
.jumbotron {
    background: rgb(107, 57, 3);
    background: radial-gradient(circle, rgb(120, 62, 1) 0%, rgb(160, 103, 19) 51%, rgba(247, 185, 93, 0) 91%);
}

.btn {
    color: rgb(177, 80, 6);
}
.card-body {
    font-size: 20px;
}
