body {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: rgb(177, 80, 6)
    
}
h1 {
    font-family: 'Spartan', sans-serif;
    text-align: center;
    color: white; 
    
}
.jumbotron {
    background: rgb(107, 57, 3);
    background: radial-gradient(circle, rgb(154, 67, 1) 29%, rgb(174, 101, 23) 55%, rgba(247, 185, 93, 0) 91%);
}

.btn {
    color: white;
    padding: 10px 30px; 
    font-size: 20px;
    background: rgb(177, 80, 6);
    
}
.card-body {
    font-size: 20px;
}
